{% extends "admin/change_form.html" %}
{% load i18n suit_tags suit_menu_compat %}
{% load url from suit_compat %}

{% block breadcrumbs %}
    {% if 'GENERATE_BREADCRUMBS_FROM_MENU'|suit_conf %}
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                <span class="divider">&raquo;</span>
            </li>
            {% get_menu_compat request as app_list %}
            {% with app_list|dictsortreversed:"is_active"|first as active_app %}
                <li>
                    <a href="{{ active_app.url }}">{{ active_app.label|capfirst|escape }}</a>
                    <span class="divider">&raquo;</span>
                </li>
                {% with active_app.models|length as models_count %}
                    {% if models_count > 0 %}
                        {% with active_app.models|dictsortreversed:"is_active"|first as active_model %}
                            <li>
                                {% if has_change_permission %}
                                    <a href="{{ active_model.url }}">{{ active_model.label|capfirst|escape }}</a>
                                {% else %}
                                    {{ active_model.label|capfirst|escape }}
                                {% endif %}
                                <span class="divider">&raquo;</span>
                            </li>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% endwith %}
            <li class="active">
                {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
            </li>
        </ul>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block object-tools %}
    {% if 'HIDE_OBJECT_TOOLS'|suit_conf %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}